a:hover {
  text-decoration: none;
}

.page-title {
  width: 100%;
  background-color: #ffffff;
  line-height: 40px;
  padding-left: 20px;
}

.page-content {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  padding: 10px;
}

.nav {
  display: flex;
  margin-top: 10px;
  padding-top: 30px;
  background-color: #ffffff;
}

.nav .nav-name {
  width: 150px;
  text-align: center;
  line-height: 40px;
  border-bottom: 2px solid #CDAE63;
  a {
    color: #666666;
  }
}

.nav .w640 {
  width: 640px;
  border-bottom: 2px solid #CDAE63;
  button {
    margin-left: 500px;
  }
}

.nav .w790 {
  width: 790px;
  border-bottom: 2px solid #CDAE63;
  button {
    margin-left: 650px;
  }
}

.nav .show {
  border: 2px solid #CDAE63;
  border-bottom: none;
  a {
    color: #CDAE63;
  }
}

.activity-list {
  width: 50%;
  height: 1086px;
  overflow: auto;
}

.activity-item {
  width: 452px;
  border: 1px solid #dcdcdc;
  margin-bottom: 40px;
}

.activity-item-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding: 0 10px;
  span {
    line-height: 40px;
  }
}

.add-activity {
  width: 50%;
  height: 1086px;
  background-color: #f6f6f6;
  overflow: auto;
}

.add-activity > p {
  padding: 30px 0 10px 20px;
}

.activity-content {
  display: flex;
}

.headline {
  padding: 30px 0 10px 16px;
}

.activity-goods {
  width: 124px;
  margin: 13px;
}

.activity-goods p {
  text-align: center;
  font-size: 12px;
}

.activity-goods-img {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.activity-name,
.activity-time {
  padding: 20px 0 0 16px;
}

.goods-info {
  display: flex;
  .goods-title {
    width: 160px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
  }
  .goods-img {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.tac {
  text-align: center;
}